@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Merienda+One|Muli|Roboto");
body {
  background-color: white; }

* {
  box-sizing: border-box; }

h1 {
  color: #8a9cff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 15px;
  margin-bottom: 0;
  text-align: center;
  text-decoration: underline; }

h2 {
  color: #8a9cff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 15px;
  margin-bottom: 0;
  text-align: center; }

h3 {
  color: #8a9cff;
  font-family: 'Fira Sans', sans-serif;
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 1rem;
  text-align: center; }

.arrow {
  display: block;
  margin: auto; }

.lol {
  box-sizing: border-box;
  border-bottom: 3px solid #8a9cff;
  border-right: 5px solid #8a9cff;
  display: block;
  margin: auto;
  max-width: 20rem; }

#fp-nav ul li a span {
  background: pink !important; }

.caption-block {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 3px solid pink;
  bottom: 0;
  box-sizing: border-box;
  color: white;
  cursor: default;
  height: 8rem;
  left: 0;
  padding: 1rem 2rem;
  position: absolute;
  transition: 0.3s background-color;
  transition-property: background-color, border;
  width: 100%; }
  .caption-block:hover {
    background-color: rgba(0, 0, 0, 0.7);
    border-left: 8px solid pink; }
  .caption-block p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem; }
  .caption-block .subheader {
    font-size: 14px;
    line-height: 0;
    margin-top: 1rem;
    transform: skew(-10deg); }
  .caption-block .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    font-size: 30px; }
  .caption-block .caption {
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    position: absolute;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5); }
  .caption-block .caption-date {
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    bottom: 1rem;
    color: pink;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    padding-left: 0.5rem;
    position: absolute;
    right: 3rem;
    text-shadow: 3px 3px 2px black; }

.mickey-icon {
  background-image: url("../img/mickey-mouse-pink.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0.8rem;
  height: 2rem;
  left: 2.5rem;
  position: absolute;
  transform: skew(10deg);
  width: 2rem; }

@media (min-width: 768px) {
  .caption-block {
    background-color: rgba(0, 0, 0, 0.5);
    border-left: 3px solid pink;
    bottom: 5rem;
    box-sizing: border-box;
    color: white;
    cursor: default;
    height: 8rem;
    left: 10rem;
    padding: 1rem 2rem;
    position: absolute;
    transform: skew(-10deg);
    transition: 0.3s background-color;
    transition-property: background-color, border;
    width: 20rem; }
    .caption-block:hover {
      background-color: rgba(0, 0, 0, 0.7);
      border-left: 8px solid pink; }
    .caption-block p {
      margin-bottom: 0.5rem;
      margin-top: 0.5rem; }
    .caption-block .subheader {
      font-size: 14px;
      line-height: 0;
      margin-top: 1rem;
      transform: skew(-10deg); }
    .caption-block .header {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      font-size: 30px; }
    .caption-block .caption {
      font-family: 'Muli', sans-serif;
      font-size: 24px;
      position: absolute;
      text-transform: uppercase;
      text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
      transform: skew(10deg); }
    .caption-block .caption-date {
      border-left: 1px solid rgba(255, 255, 255, 0.25);
      bottom: 1rem;
      color: pink;
      font-family: 'Muli', sans-serif;
      font-size: 20px;
      padding-left: 0.5rem;
      position: absolute;
      right: 3rem;
      text-shadow: 3px 3px 2px black; }
  .mickey-icon {
    background-image: url("../img/mickey-mouse-pink.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0.8rem;
    height: 2rem;
    left: 2.5rem;
    position: absolute;
    transform: skew(10deg);
    width: 2rem; } }

.page-header {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: 'Muli', sans-serif;
  height: 3rem;
  justify-content: center;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 100; }
  .page-header:hover {
    background-color: rgba(0, 0, 0, 0.9); }
  .page-header ul {
    display: none; }
  .page-header .hamburger-menu {
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 2rem; }
    .page-header .hamburger-menu .burger-layer {
      background-color: white;
      height: 0.2rem;
      margin-top: 0.2rem;
      width: 2rem; }
  .page-header .mobile-title {
    color: white;
    position: absolute;
    right: 1rem;
    top: 0.9rem; }
  .page-header .mobile-menu {
    background-color: rgba(0, 0, 0, 0.9);
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 3rem;
    transition: height 1s;
    width: 100%; }
    .page-header .mobile-menu.open {
      height: 10rem; }
    .page-header .mobile-menu ul {
      display: block;
      list-style-type: none;
      text-align: center; }
      .page-header .mobile-menu ul a {
        color: white;
        text-decoration: none; }

@media (min-width: 768px) {
  .page-header {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 1rem 1rem;
    display: flex;
    font-family: 'Muli', sans-serif;
    justify-content: center;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 75%;
    z-index: 100; }
    .page-header .mobile-menu,
    .page-header .hamburger-menu,
    .page-header .mobile-title {
      display: none; }
    .page-header ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0.7rem; }
    .page-header li {
      color: pink;
      font-size: 18px;
      font-weight: 600;
      margin: 0 1.5rem; }
      .page-header li a {
        color: pink;
        text-decoration: none; }
        .page-header li a:hover {
          text-decoration: underline; }
        .page-header li a:visited {
          color: pink; }
    .page-header .left-angle {
      border-left: 5.5rem solid transparent;
      border-right: 5.5rem solid white;
      border-top: 5.5rem solid transparent;
      height: 0;
      left: -56px;
      position: absolute;
      top: -92px;
      transform: rotate(135deg);
      width: 0; }
    .page-header .right-angle {
      border-left: 5.5rem solid white;
      border-right: 5.5rem solid transparent;
      border-top: 5.5rem solid transparent;
      height: 0;
      right: -56px;
      position: absolute;
      top: -92px;
      transform: rotate(-135deg);
      width: 0; } }

/** Hero Section **/
.hero {
  background-image: url("../img/tree-tunnel-mobile.jpg");
  background-position: center;
  background-size: cover;
  transition: 1s background-image; }
  .hero.hand-in-hand {
    background-image: url("../img/hand-in-hand-edit-mobile.jpg"); }
  .hero.ocean-side {
    background-image: url("../img/ocean-side-mobile.jpg"); }

@media (min-width: 768px) {
  .hero {
    background-image: url("../img/tree-tunnel-2.jpg");
    background-position: center;
    background-size: cover;
    transition: 1s background-image; }
    .hero.hand-in-hand {
      background-image: url("../img/hand-in-hand-edit.jpg"); }
    .hero.ocean-side {
      background-image: url("../img/ocean-side.jpg"); } }

/** Venue **/
.venue {
  background-image: url("../img/casa-real.jpg");
  background-position: center;
  background-size: cover; }

.venue .fp-tableCell {
  vertical-align: unset; }

h2 {
  color: white;
  font-size: 70px;
  letter-spacing: 1px;
  padding-left: 1rem;
  text-align: left;
  text-shadow: 3px 2px 6px #1b1717; }

.venue-right {
  float: right;
  padding-right: 10rem; }

.venue-address {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  margin-left: 5rem;
  margin-top: 1rem;
  padding: 1rem; }

.venue .overlay {
  height: 100%;
  width: 100%; }

/** Our Story **/
.our-story.fp-section {
  padding-bottom: 0 !important;
  padding-top: 0 !important; }

.our-story .fp-tableCell {
  background: pink;
  vertical-align: unset; }

.our-story h2 {
  color: black;
  font-size: 48px;
  text-align: center;
  text-shadow: none; }

.our-story p {
  font-family: 'Merienda One', serif; }

.our-story .story-text {
  background: white;
  border-radius: 50%;
  height: 40rem;
  margin: 5rem auto;
  padding: 5rem;
  position: relative;
  width: 40rem; }
  .our-story .story-text .happily {
    margin-top: 10rem;
    text-align: right; }
  .our-story .story-text::before {
    background: white;
    border-radius: 50%;
    content: '';
    height: 21rem;
    left: -16rem;
    position: absolute;
    top: -8rem;
    transform: rotate(139deg);
    width: 28rem; }
  .our-story .story-text::after {
    background: white;
    border-radius: 50%;
    content: '';
    height: 21rem;
    right: -16rem;
    position: absolute;
    top: -8rem;
    transform: rotate(221deg);
    width: 28rem; }

.our-story .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5rem auto;
  text-align: center; }

.our-story .polaroid {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  height: 20rem;
  margin: 2rem;
  padding: 1rem;
  position: relative;
  transition: all 0.5s;
  width: 18rem; }
  .our-story .polaroid .image-shine {
    background-color: rgba(255, 255, 255, 0.2);
    height: 200%;
    position: relative;
    width: 200%;
    z-index: 10;
    transform: rotate(-63deg) translate(21rem, -6rem); }
  .our-story .polaroid .image-container {
    height: 15rem;
    overflow: hidden;
    position: relative;
    margin: auto;
    width: 95%; }
    .our-story .polaroid .image-container img {
      left: 0;
      position: absolute;
      top: -50%;
      width: 100%; }
      .our-story .polaroid .image-container img.boys {
        top: -35%; }
      .our-story .polaroid .image-container img.grad {
        top: -20%; }
      .our-story .polaroid .image-container img.hk-cake, .our-story .polaroid .image-container img.d232015, .our-story .polaroid .image-container img.d232017 {
        top: 0; }
      .our-story .polaroid .image-container img.vegas {
        top: -10%; }
      .our-story .polaroid .image-container img.fisheye {
        left: -8rem;
        top: 0;
        width: 200%; }
  .our-story .polaroid .polaroid-caption {
    margin-top: 0.5rem; }
  .our-story .polaroid .polaroid-date {
    bottom: 0.5rem;
    font-family: 'Merienda One', serif;
    position: absolute;
    right: 0.5rem; }
  .our-story .polaroid.left-tilt {
    transform: rotate(-3deg); }
    .our-story .polaroid.left-tilt:hover {
      transform: rotate(3deg) scale(1.1); }
  .our-story .polaroid.right-tilt {
    transform: rotate(3deg); }
    .our-story .polaroid.right-tilt:hover {
      transform: rotate(-3deg) scale(1.1); }

@media (min-width: 768px) {
  .windy {
    width: initial; } }

/** Wedding Party **/
.wedding-party {
  background: url("../img/walking-flip.JPG");
  background-position: center;
  background-size: cover;
  padding: 7rem 0 !important; }
  .wedding-party .pink-flag-left {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 10; }
  .wedding-party .pink-flag-right {
    right: 0;
    position: absolute;
    top: 0;
    transform: scale(-1, 1);
    z-index: 10; }

.wedding-party .fp-tableCell {
  vertical-align: unset; }

.wedding-party h2 {
  color: white;
  font-size: 48px;
  margin-top: 1rem;
  text-align: center;
  text-shadow: 2px 1px 1px black; }

.wedding-party-container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem; }

.bridesmaids .bridesmaid,
.bridesmaids .groomsman,
.groomsmen .bridesmaid,
.groomsmen .groomsman {
  display: flex;
  max-height: 7rem;
  margin: 1rem; }

.bridesmaids .bridesmaid-info,
.bridesmaids .groomsman-info,
.groomsmen .bridesmaid-info,
.groomsmen .groomsman-info {
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid pink;
  border-left: 5px solid pink;
  border-right: 0;
  padding: 1rem 0;
  width: 70%; }
  .bridesmaids .bridesmaid-info h3,
  .bridesmaids .groomsman-info h3,
  .groomsmen .bridesmaid-info h3,
  .groomsmen .groomsman-info h3 {
    color: pink;
    font-size: 30px;
    margin: 0;
    margin-left: 1.5rem;
    letter-spacing: 3px;
    text-align: left; }
  .bridesmaids .bridesmaid-info h5,
  .bridesmaids .groomsman-info h5,
  .groomsmen .bridesmaid-info h5,
  .groomsmen .groomsman-info h5 {
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-left: 1rem; }
  .bridesmaids .bridesmaid-info p,
  .bridesmaids .groomsman-info p,
  .groomsmen .bridesmaid-info p,
  .groomsmen .groomsman-info p {
    margin: 0; }

.bridesmaids .groomsman-info,
.groomsmen .groomsman-info {
  border-left: 0;
  border: 1px solid lightblue;
  border-right: 5px solid lightblue;
  border-left: 0;
  color: lightblue; }
  .bridesmaids .groomsman-info h3,
  .groomsmen .groomsman-info h3 {
    color: lightblue;
    margin-left: 0;
    margin-right: 1.5rem;
    text-align: right; }
  .bridesmaids .groomsman-info h5,
  .groomsmen .groomsman-info h5 {
    color: white;
    margin-right: 1rem;
    text-align: right; }

.bridesmaid-img,
.groomsman-img {
  border: 1px solid pink;
  border-radius: 0 1rem 1rem 0;
  overflow: hidden;
  width: 30%; }
  .bridesmaid-img img,
  .groomsman-img img {
    width: 100%; }

.bridesmaid-img {
  border-left: 0; }

.groomsman-img {
  border: 1px solid lightblue;
  border-right: 0;
  border-radius: 1rem 0 0 1rem; }

@media (min-width: 768px) {
  .wedding-party {
    padding-top: 3em !important;
    padding-bottom: 10px !important; }
  .wedding-party .fp-tableCell {
    vertical-align: unset; }
  .wedding-party h2 {
    color: white;
    font-size: 48px;
    text-align: center;
    text-shadow: 2px 1px 1px black; }
  .wedding-party-container {
    display: flex;
    flex-direction: row;
    height: 80vh;
    margin-top: 4rem; }
  .bridesmaids,
  .groomsmen {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; }
    .bridesmaids .bridesmaid,
    .bridesmaids .groomsman,
    .groomsmen .bridesmaid,
    .groomsmen .groomsman {
      display: flex;
      margin: 0rem 1rem; }
      .bridesmaids .bridesmaid:first-child .bridesmaid-img,
      .bridesmaids .groomsman:first-child .bridesmaid-img,
      .groomsmen .bridesmaid:first-child .bridesmaid-img,
      .groomsmen .groomsman:first-child .bridesmaid-img {
        border-radius: 0 1rem 0 0; }
      .bridesmaids .bridesmaid:first-child .groomsman-img,
      .bridesmaids .groomsman:first-child .groomsman-img,
      .groomsmen .bridesmaid:first-child .groomsman-img,
      .groomsmen .groomsman:first-child .groomsman-img {
        border-radius: 1rem 0 0 0; }
      .bridesmaids .bridesmaid:last-child .bridesmaid-info,
      .bridesmaids .groomsman:last-child .bridesmaid-info,
      .groomsmen .bridesmaid:last-child .bridesmaid-info,
      .groomsmen .groomsman:last-child .bridesmaid-info {
        border-bottom: 1px solid rgba(255, 192, 203, 0.2); }
      .bridesmaids .bridesmaid:last-child .bridesmaid-img,
      .bridesmaids .groomsman:last-child .bridesmaid-img,
      .groomsmen .bridesmaid:last-child .bridesmaid-img,
      .groomsmen .groomsman:last-child .bridesmaid-img {
        border-radius: 0 0 1rem 0; }
      .bridesmaids .bridesmaid:last-child .groomsman-info,
      .bridesmaids .groomsman:last-child .groomsman-info,
      .groomsmen .bridesmaid:last-child .groomsman-info,
      .groomsmen .groomsman:last-child .groomsman-info {
        border-bottom: 1px solid rgba(255, 192, 203, 0.2); }
      .bridesmaids .bridesmaid:last-child .groomsman-img,
      .bridesmaids .groomsman:last-child .groomsman-img,
      .groomsmen .bridesmaid:last-child .groomsman-img,
      .groomsmen .groomsman:last-child .groomsman-img {
        border-radius: 0 0 0 1rem; }
    .bridesmaids .joanna,
    .groomsmen .joanna {
      margin-left: -5rem; }
      .bridesmaids .joanna .bridesmaid-img img,
      .groomsmen .joanna .bridesmaid-img img {
        top: -2rem;
        width: 115%; }
    .bridesmaids .clare,
    .groomsmen .clare {
      margin-left: -3.2rem; }
      .bridesmaids .clare .bridesmaid-img img,
      .groomsmen .clare .bridesmaid-img img {
        left: -7.5rem;
        top: -4rem;
        width: 300%; }
    .bridesmaids .jovian,
    .groomsmen .jovian {
      margin-left: -1.5rem; }
      .bridesmaids .jovian .bridesmaid-img img,
      .groomsmen .jovian .bridesmaid-img img {
        left: -5.6rem;
        top: -7rem;
        width: 250%; }
    .bridesmaids .karina,
    .groomsmen .karina {
      margin-left: 0.3rem; }
      .bridesmaids .karina .bridesmaid-img img,
      .groomsmen .karina .bridesmaid-img img {
        left: -7.3rem;
        top: -5.7rem;
        width: 250%; }
    .bridesmaids .cindy,
    .groomsmen .cindy {
      margin-left: 2rem; }
      .bridesmaids .cindy .bridesmaid-img,
      .groomsmen .cindy .bridesmaid-img {
        background: black; }
        .bridesmaids .cindy .bridesmaid-img img,
        .groomsmen .cindy .bridesmaid-img img {
          left: 0rem;
          top: -1.2rem;
          width: 125%; }
    .bridesmaids .sixth,
    .groomsmen .sixth {
      margin-left: 3.8rem; }
    .bridesmaids .evan,
    .groomsmen .evan {
      margin-right: -5rem; }
      .bridesmaids .evan .groomsman-img img,
      .groomsmen .evan .groomsman-img img {
        right: -1rem;
        top: -4rem;
        width: 120%; }
    .bridesmaids .dennis,
    .groomsmen .dennis {
      margin-right: -3.2rem; }
    .bridesmaids .michael,
    .groomsmen .michael {
      margin-right: -1.5rem; }
      .bridesmaids .michael .groomsman-img img,
      .groomsmen .michael .groomsman-img img {
        right: -2.3rem;
        top: -2rem;
        width: 140%; }
    .bridesmaids .daniel,
    .groomsmen .daniel {
      margin-right: 0.3rem; }
      .bridesmaids .daniel .groomsman-img img,
      .groomsmen .daniel .groomsman-img img {
        right: -3.5rem;
        top: -2.8rem;
        width: 200%; }
    .bridesmaids .josh,
    .groomsmen .josh {
      margin-right: 2rem; }
      .bridesmaids .josh .groomsman-img img,
      .groomsmen .josh .groomsman-img img {
        right: -0.9rem;
        top: -0.9rem;
        width: 120%; }
    .bridesmaids .alan,
    .groomsmen .alan {
      margin-right: 3.8rem; }
      .bridesmaids .alan .groomsman-img img,
      .groomsmen .alan .groomsman-img img {
        right: -2rem;
        top: -3rem; }
    .bridesmaids .placeholder .bridesmaid-img,
    .bridesmaids .placeholder .groomsman-img,
    .groomsmen .placeholder .bridesmaid-img,
    .groomsmen .placeholder .groomsman-img {
      background: lightgrey; }
      .bridesmaids .placeholder .bridesmaid-img img,
      .bridesmaids .placeholder .groomsman-img img,
      .groomsmen .placeholder .bridesmaid-img img,
      .groomsmen .placeholder .groomsman-img img {
        display: none; }
    .bridesmaids .bridesmaid-img,
    .bridesmaids .groomsman-img,
    .groomsmen .bridesmaid-img,
    .groomsmen .groomsman-img {
      border: 0;
      border-radius: 0;
      height: 5rem;
      overflow: hidden;
      position: relative;
      transform: skew(10deg);
      width: 7rem; }
      .bridesmaids .bridesmaid-img img,
      .bridesmaids .groomsman-img img,
      .groomsmen .bridesmaid-img img,
      .groomsmen .groomsman-img img {
        position: absolute;
        right: 0;
        transform: skew(-10deg);
        top: -2rem;
        width: 150%; }
    .bridesmaids .groomsman-img,
    .groomsmen .groomsman-img {
      border-color: lightblue;
      transform: skew(-10deg); }
      .bridesmaids .groomsman-img img,
      .groomsmen .groomsman-img img {
        right: initial;
        transform: skew(10deg); }
    .bridesmaids .bridesmaid-info,
    .bridesmaids .groomsman-info,
    .groomsmen .bridesmaid-info,
    .groomsmen .groomsman-info {
      background: rgba(0, 0, 0, 0.7);
      border: 0;
      border-top: 1px solid rgba(255, 192, 203, 0.2);
      border-left: 5px solid pink;
      height: 5rem;
      padding: 0.7rem;
      transform: skew(10deg);
      width: 20rem; }
      .bridesmaids .bridesmaid-info h3,
      .bridesmaids .groomsman-info h3,
      .groomsmen .bridesmaid-info h3,
      .groomsmen .groomsman-info h3 {
        color: pink;
        font-size: 30px;
        margin: 0;
        margin-left: 1.5rem;
        letter-spacing: 3px;
        text-align: left;
        transform: skew(-10deg); }
      .bridesmaids .bridesmaid-info h5,
      .bridesmaids .groomsman-info h5,
      .groomsmen .bridesmaid-info h5,
      .groomsmen .groomsman-info h5 {
        color: white;
        font-family: 'Muli', sans-serif;
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        margin-left: 1rem;
        transform: skew(-10deg); }
      .bridesmaids .bridesmaid-info p,
      .bridesmaids .groomsman-info p,
      .groomsmen .bridesmaid-info p,
      .groomsmen .groomsman-info p {
        margin: 0; }
    .bridesmaids .groomsman-info,
    .groomsmen .groomsman-info {
      border-left: 0;
      border-top: 1px solid rgba(173, 216, 230, 0.2);
      border-right: 5px solid lightblue;
      color: lightblue;
      transform: skew(-10deg); }
      .bridesmaids .groomsman-info h3,
      .groomsmen .groomsman-info h3 {
        color: lightblue;
        margin-left: 0;
        margin-right: 1.5rem;
        text-align: right;
        transform: skew(10deg); }
      .bridesmaids .groomsman-info h5,
      .groomsmen .groomsman-info h5 {
        color: white;
        margin-right: 1rem;
        text-align: right;
        transform: skew(10deg); } }

/** RSVP **/
.rsvp {
  background-image: url("../img/save-the-date-group.jpg");
  background-position: center;
  background-size: cover; }
  .rsvp.fp-section {
    padding: 0 !important; }
  .rsvp .fp-tableCell {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 5rem;
    vertical-align: unset; }
  .rsvp h2 {
    color: white;
    text-shadow: 2px 2px 1px black; }
  .rsvp #mc_embed_signup {
    background: transparent;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
    width: 85%; }
    .rsvp #mc_embed_signup form {
      font-family: 'Merienda One', sans-serif;
      margin: auto;
      padding-left: 0; }
      .rsvp #mc_embed_signup form label {
        font-size: 12px;
        text-shadow: 2px 2px 1px black; }
      .rsvp #mc_embed_signup form input,
      .rsvp #mc_embed_signup form select {
        background: rgba(138, 138, 138, 0.45);
        border: 0;
        color: white;
        font-family: 'Merienda One', sans-serif;
        font-size: 14px;
        margin-bottom: 1rem;
        text-shadow: 2px 2px 1px black; }
      .rsvp #mc_embed_signup form select {
        height: 2.5rem; }
    .rsvp #mc_embed_signup h2 {
      border-left: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      color: white;
      font-family: 'Merienda One', sans-serif;
      font-size: 32px;
      padding-left: 1rem;
      text-align: center; }
    .rsvp #mc_embed_signup .button {
      background: pink;
      font-size: 20px;
      height: 3rem;
      width: 100%; }
      .rsvp #mc_embed_signup .button:hover {
        background-color: #ffd5dd; }
    .rsvp #mc_embed_signup .indicates-required {
      display: none; }

@media (min-width: 768px) {
  .rsvp.fp-section {
    padding: initial !important; }
  .rsvp .fp-tableCell {
    background: none;
    padding-top: 0; }
  .rsvp #mc_embed_signup {
    background: rgba(0, 0, 0, 0.5);
    border-right: 5px solid pink;
    margin-right: 5rem;
    margin-top: calc(50vh - 18rem);
    padding: 1rem 3.5rem;
    width: 25rem; }
    .rsvp #mc_embed_signup form {
      margin-bottom: 2rem; }
      .rsvp #mc_embed_signup form input,
      .rsvp #mc_embed_signup form select {
        margin-bottom: 0; }
    .rsvp #mc_embed_signup .mc-field-group {
      width: 100%; } }

/** Registry **/
.registry {
  position: relative; }

.registry .fp-tableCell {
  vertical-align: middle; }

.registry h2 {
  color: black;
  font-size: 48px;
  margin-top: 0;
  text-align: center;
  text-shadow: none; }

.registry-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 6rem auto;
  width: 85%; }

.registry-item {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 5px solid pink;
  display: flex;
  flex-direction: column;
  height: 17rem;
  justify-content: center;
  margin: 1rem 2rem;
  padding: 1rem;
  width: 20rem; }
  .registry-item img {
    background-color: white;
    width: 80%;
    margin-bottom: 1rem; }
  .registry-item h3 {
    color: #ff6ca9; }
  .registry-item a {
    align-items: center;
    background-color: #ff6ca9;
    border: none;
    color: white;
    display: flex;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 3rem;
    justify-content: center;
    text-decoration: none;
    transition: 0.5s all;
    width: 80%; }
    .registry-item a:hover {
      background-color: #f7a6c7;
      cursor: pointer; }

.scroll-png-left {
  left: 5rem;
  position: absolute;
  top: 0;
  transform: rotate(90deg);
  transform-origin: left;
  width: 40rem; }

.scroll-png-right {
  right: 5rem;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  transform-origin: right;
  width: 40rem; }

.last {
  background-image: url("../img/last.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100vw; }
  .last .content {
    margin: auto;
    width: 50%; }
    .last .content p {
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      font-family: 'Merienda One', sans-serif;
      font-size: 18px;
      font-weight: 500;
      padding: 1rem;
      text-align: center; }
    .last .content iframe {
      display: none;
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw; }
      .last .content iframe.show {
        display: block; }
