.page-header {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	// border-bottom: 2px ridge pink;
	// display: flex;
	font-family: 'Muli', sans-serif;
	height: 3rem;
	justify-content: center;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	transition: all 0.5s;
	width: 100%;
	z-index: 100;
	&:hover {
		// background-color: rgba(0, 0, 0, 0.9);
	}
	ul {
		display: none;
	}
	.hamburger-menu {
		cursor: pointer;
    margin-left: 1rem;
    margin-top: 1rem;
    width: 2rem;
		.burger-layer {
			background-color: white;
			height: 0.2rem;
			margin-top: 0.2rem;
			width: 2rem;
		}
	}
	.mobile-title {
		color: white;
		position: absolute;
		right: 1rem;
		top: 0.9rem;
	}
	.mobile-menu {
		background-color: rgba(0, 0, 0, 0.9);
		height: 0;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 3rem;
		transition: height 1s;
		width: 100%;
		&.open {
			height: 10rem;
		}
		ul {
			display: block;
			list-style-type: none;
			text-align: center;
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
}

@media (min-width: $desktop) {
	.page-header {
	align-items: center;
	background-color: transparent;
	border-radius: 0 0 1rem 1rem;
	display: flex;
	font-family: 'Muli', sans-serif;
	justify-content: center;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 75%;
	z-index: 100;
	&:hover {
		// background-color: rgba(0, 0, 0, 0.9);
	}
	.main-menu {
		li {
			padding: 0.5rem;
			transform: skew(-10deg);
			transition: background 0.5s;
			&.active-link-pink {
				background: pink;
				box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
				
				a {
					color: white !important;
				}
			}
			&.active-link-orange {
				background: #ff9b20;
				box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
				a {
					color: white !important;
				}
			}
			&.active-link-blue {
				background: #0089ff;
				box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
				a {
					color: white !important;
				}
			}
			&.active-link-black {
				background: #949494;
				box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
				a {
					color: white !important;
				}
			}
		}
		a {
			display: block;
			transform: skew(10deg);
			transition: color 0.5s;
		}
	}
	.mobile-menu,
	.hamburger-menu,
	.mobile-title {
		display: none;
	}
	ul {
		display: flex;
		justify-content: center;
		list-style-type: none;
		margin: 0.7rem;
	}
	li {
		color: pink;
		font-size: 18px;
		font-weight: 600;
		margin: 0 1.5rem;
		// text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.3);
		a {
			color: pink;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			&:visited {
				color: pink;
			}
		}
	}
	.left-angle {
		border-left: 5.5rem solid transparent;
    border-right: 5.5rem solid white;
    border-top: 5.5rem solid transparent;
		height: 0;
		left: -56px;
    position: absolute;
    top: -92px;
    transform: rotate(135deg);
    width: 0;
	}
	.right-angle {
		border-left: 5.5rem solid white;
    border-right: 5.5rem solid transparent;
    border-top: 5.5rem solid transparent;
		height: 0;
		right: -56px;
    position: absolute;
    top: -92px;
    transform: rotate(-135deg);
    width: 0;
	}
}
}
