/** Hero Section **/
.hero {
	background-image: url('../img/tree-tunnel.jpg');
	background-position: center;
	background-size: cover;
	transition: 1s background-image;
	&.hand-in-hand {
		background-image: url('../img/hand-in-hand.jpg');
	}
	&.ocean-side {
		background-image: url('../img/ocean-side.jpg');
	}
}

@media (min-width: $desktop) {
	.hero {
	background-image: url('../img/tree-tunnel.jpg');
	background-position: center;
	background-size: cover;
	transition: 1s background-image;
	&.hand-in-hand {
		background-image: url('../img/hand-in-hand.jpg');
	}
	&.ocean-side {
		background-image: url('../img/ocean-side.jpg');
	}
}
}
