/** Hero Section **/

@keyframes float {
	0% {transform:translateY(0px) }
  50% {transform:translateY(7px) }
  100% {transform:translateY(0px) }
}

@keyframes spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(-359deg) }
}

.hero {
	background-image: url('../img/tree-tunnel-mobile.jpg');
	background-position: center;
	background-size: cover;
	transition: 1s background-image;
	&.hand-in-hand {
		background-image: url('../img/hand-in-hand-edit-mobile.jpg');
	}
	&.ocean-side {
		background-image: url('../img/ocean-side-mobile.jpg');
	}
	.load-placeholder {
		align-items: center;
		background: #1b1b1b;
		display: flex;
		height: 100vh;
		justify-content: center;
		opacity: 1;
		position: fixed;
		top: 0;
		transition: all 2.5s;
		visibility: visible;
		width: 100vw;
		z-index: 100000000;
		&.close {
			opacity: 0;
			visibility: hidden;
			.jandl-loading-icon {
				animation: none;
				margin-right: -100rem;
			}
		}
		.jandl-loading-icon {
			animation: spin 8.5s linear infinite;
			transition: 3s all;
		}
	}
	.force-load {
		display: none;
	}
	.scroll-indicator {
		display: none;
	}
}

@media (min-width: $desktop) {
	.hero {
	background-image: url('../img/hand-in-hand-edit.jpg');
	background-image: url('../img/ocean-side.jpg');
	background-image: url('../img/tree-tunnel-2.jpg');
	background-position: center;
	background-size: cover;
	transition: 1s background-image;
	&.hand-in-hand {
		background-image: url('../img/hand-in-hand-edit.jpg');
	}
	&.ocean-side {
		background-image: url('../img/ocean-side.jpg');
	}
	.scroll-indicator {
		animation: float 2.5s ease infinite;
		bottom: 1rem;
		color: white;
		display: block;
		font-family: 'Muli', sans-serif;
		font-size: 16px;
		font-weight: 600;
		left: 0;
		letter-spacing: 2px;
		margin: auto;
		position: absolute;
		right: 0;
		text-align: center;
		width: 20rem;
		p {
			margin: 0;
			text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
		}
	}
}
}
