/** Wedding Party **/
.wedding-party {
	// background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.wedding-party .fp-tableCell {
	vertical-align: unset;
}

.wedding-party h2 {
	color: black;
	font-size: 48px;
	text-align: center;
	text-shadow: none;
}

.wedding-party-container {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.bridesmaids,
.groomsmen {
	
	.bridesmaid,
	.groomsman {
   
    .info {
    	
    	h3 {
    		
    	}
    	h5 {
    		color: white;
    		text-align: center;
    	}
    	p {
    		color: white;
    	}
    }
	}
	.bridesmaid {
    h3,
    h5,
    p {
  
    }
	}
	.groomsman {
		h3,
		h5,
		p {
		
		}
	}
}

@media (min-width: $desktop) {
	.wedding-party {

}
.wedding-party .fp-tableCell {
	vertical-align: unset;
}

.wedding-party h2 {
	color: black;
	font-size: 48px;
	text-align: center;
	text-shadow: none;
}

.wedding-party-container {
	display: flex;
	flex-direction: row;
	height: 80vh;
	margin-top: 1rem;
}

.bridesmaids,
.groomsmen {
	width: 50%;
	.bridesmaid,
	.groomsman {
		display: flex;
		margin: 1rem;
    width: 100%;
    &:hover {
    	
    	.info {
    	
    	}
    }
	}
	.bridesmaid-img {
    height: 7rem;
    overflow: hidden;
    position: relative;
    transform: skew(10deg);
    width: 7rem;
		img {
			position: absolute;
			right: 0;
			transform: skew(-10deg);
			top: -2rem;
			width: 150%;
		}
	}
	.bridesmaid-info {
		background: rgba(0, 0, 0, 0.5);
		border-left: 5px solid pink;
		height: 7rem;
		padding: 1rem;
		transform: skew(10deg);
		width: 20rem;
		h3 {
			color: pink;
			font-size: 30px;
			margin: 0;
			margin-left: 1.5rem;
			letter-spacing: 5px;
			text-align: left;
			transform: skew(-10deg);
		}
		h5 {
			color: white;
			font-family: 'Muli', sans-serif;
			font-size: 14px;
			font-weight: 600;
			margin: 0;
			margin-left: 1rem;
			transform: skew(-10deg);
		}
		p {
			margin: 0;
		}
	}
	.bridesmaid {
		
		&:hover {
    	
    }
    h3,
    h5,
    p {
    
    }
	}
	.groomsman {
	
		&:hover {
			
		}
		h3,
		h5,
		p {
		
		}
	}
	// .joanna {
	// 	background-image: url('../img/wedding-party/joanna-wedding-party.jpg');
	// }
	// .clare {
	// 	background-image: url('../img/wedding-party/clare-bridesmaid.jpg');
	// }
	// .jovian {
	// 	background-image: url('../img/wedding-party/jovian-bridesmaid.jpg');
	// }
	// .karina {
	// 	background-image: url('../img/wedding-party/karina-bridesmaid.jpg');
	// }
	// .evan {
	// 	background-image: url('../img/wedding-party/evan-temp-skew.jpg');
	// }
	// .alan {
	// 	background-image: url('../img/wedding-party/alan-temp.png');
	// }
	// .placeholder {
	// 	background-color: lightgrey;
	// }
}
}
