/** Wedding Party **/
.wedding-party {
	// background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
.wedding-party .fp-tableCell {
	vertical-align: unset;
}

.wedding-party h2 {
	color: black;
	font-size: 48px;
	margin-top: 1rem;
	text-align: center;
	text-shadow: none;
}

.wedding-party-container {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
}

.bridesmaids,
.groomsmen {
	
	.bridesmaid,
	.groomsman {
   
    .info {
    	
    	h3 {
    		
    	}
    	h5 {
    		color: white;
    		text-align: center;
    	}
    	p {
    		color: white;
    	}
    }
	}
}

@media (min-width: $desktop) {
	.wedding-party {

}
.wedding-party .fp-tableCell {
	vertical-align: unset;
}

.wedding-party h2 {
	color: black;
	font-size: 48px;
	text-align: center;
	text-shadow: none;
}

.wedding-party-container {
	display: flex;
	flex-direction: row;
	height: 80vh;
	margin-top: 1rem;
}

.bridesmaids,
.groomsmen {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	.bridesmaid,
	.groomsman {
		display: flex;
		margin: 0.5rem 1rem;
    // width: 100%;
	}
	.bridesmaid-img,
	.groomsman-img {
    height: 5rem;
    overflow: hidden;
    position: relative;
    transform: skew(10deg);
    width: 7rem;
		img {
			position: absolute;
			right: 0;
			transform: skew(-10deg);
			top: -2rem;
			width: 150%;
		}
	}
	.groomsman-img {
		transform: skew(-10deg);
		img {
			right: initial;
			transform: skew(10deg);
		}
	}
	.bridesmaid-info,
	.groomsman-info {
		background: rgba(0, 0, 0, 0.5);
		border-left: 5px solid pink;
		height: 5rem;
		padding: 1rem;
		transform: skew(10deg);
		width: 20rem;
		h3 {
			color: pink;
			font-size: 30px;
			margin: 0;
			margin-left: 1.5rem;
			letter-spacing: 3px;
			text-align: left;
			transform: skew(-10deg);
		}
		h5 {
			color: white;
			font-family: 'Muli', sans-serif;
			font-size: 14px;
			font-weight: 600;
			margin: 0;
			margin-left: 1rem;
			transform: skew(-10deg);
		}
		p {
			margin: 0;
		}
	}
	.groomsman-info {
		border-left: 0;
		border-right: 5px solid lightblue;
		color: lightblue;
		transform: skew(-10deg);
		h3 {
			color: lightblue;
			margin-left: 0;
			margin-right: 1.5rem;
			text-align: right;
			transform: skew(10deg);
		}
		h5 {
			margin-right: 1rem;
			text-align: right;
			transform: skew(10deg);
		}
	}
}
}
