/** Registry **/
.registry {
	position: relative;
	.registry-header {
		background: $site-pink;
		font-family: 'Muli', sans-serif;
		font-size: 32px;
		margin: 5rem auto 0;
		padding: 1rem 0.5rem;
		text-align: center;
		width: 16rem;
		h4 {
			color: white;
			margin: 0;
		}
	}
}
.registry .fp-tableCell {
	vertical-align: middle;
}

.registry h2 {
	color: black;
	font-size: 48px;
	margin-top: 0;
	text-align: center;
	text-shadow: none;
}

.registry-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 6rem auto;
	// padding: 2rem 5rem;
	width: 85%;
}

.registry-item {
	align-items: center;
	// background-color: rgba(0, 0, 0, 0.5);
	// border-top: 5px solid pink;
	display: flex;
	flex-direction: column;
	height: 17rem;
	justify-content: center;
	margin: 1rem 2rem;
	padding: 1rem;
	// transform: skew(10deg);
	width: 20rem;
	img {
		background-color: white;
		width: 80%;
		margin-bottom: 1rem;
	}
	h3 {
		color: $font-pink;
		// transform: skew(-10deg);
	}
	a {
		align-items: center;
		// background-color: $font-pink;
		border: none;
		// color: white;
		display: flex;
		font-family: 'Muli', sans-serif;
		font-size: 14px;
		font-weight: 600;
		height: 3rem;
		justify-content: center;
		text-decoration: none;
		transition: 0.5s background-color;
		// transform: skew(-10deg);
		width: 80%;
		&:hover {
			background-color: $font-pink-hover;
			color: white;
			cursor: pointer;
		}
	}
}

.scroll-png-left {
	display: none;
}
.scroll-png-right {
	display: none;
}


@media (min-width: $desktop) {
	.scroll-png-left {
		display: block;
		left: 5rem;
		position: absolute;
		top: 0;
		transform: rotate(90deg);
		transform-origin: left;
		width: 40rem;
	}
	.scroll-png-right {
		display: block;
		right: 5rem;
		position: absolute;
		top: 0;
		transform: rotate(-90deg);
		transform-origin: right;
		width: 40rem;
	}
}
