/** RSVP **/
.rsvp {
	background-color: #8a9cff;
}

.rsvp .fp-tableCell {
	vertical-align: unset;
}

.rsvp h2 {
	color: white;
	text-shadow: none;
}

#mc_embed_signup {
	border-radius: 1rem;
	margin: auto;
	padding: 3rem;
	text-align: center;
	width: 30%;
}

#mc_embed_signup form {
	font-family: 'Fira Sans', sans-serif;
	margin: auto;
	padding-left: 0;
}

#mc_embed_signup h2 {
	border-left: none;
	color: black;
}
