/** RSVP **/
.rsvp {
	background-image: url('../img/save-the-date-group.jpg');
	background-position: center;
	background-size: cover;
	&.fp-section {
		padding: 0 !important;
	}
	.fp-tableCell {
		background: rgba(0, 0, 0, 0.5);
		// padding-top: 5rem;
		vertical-align: unset;
	}
	
	.right-bar {
	background: rgba(255,255,255,0.8);
	// height: 100vh;
	right: 0;
	padding: 8rem 1rem;
	// position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	h5 {
		font-family: 'Muli', serif;
		font-size: 20px;
		font-weight: 600;
	}
	p {
		font-family: 'Muli', serif;
	}
	}
	#mc_embed_signup {
		// background: rgba(0, 0, 0, 0.7);
		background: transparent;
		color: black;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0;
		text-align: center;
		width: 85%;
		form {
			font-family: 'Muli', sans-serif;
			margin: auto;
			padding-left: 0;
			label {
				font-size: 14px;
				font-weight: 500;
			}
			input,
			select {
				background: rgba(255, 255, 255, 0.33);
				border: 0;
				color: black;
				font-family: 'Muli', sans-serif;
				font-size: 15px;
				height: 2.5rem;
				margin-bottom: 1rem;
			}
			select {
				height: 2.5rem;
			}
			.radio-group {
				font-size: 14px;
				ul {
					display: flex;
					justify-content: space-around;
					padding: 0;
					li {
						align-items: center;
						display: flex;
						width: 50%;
						label {
							font-size: 16px;
						}
					}
				}
			}
		}
		h2 {
			color: $site-pink;
			font-family: 'Merienda One', cursive;
			font-size: 60px;
			letter-spacing: 1px;
			line-height: 1.1;
			text-align: center;
			text-shadow: 1px 1px 1px white;
		}
		.button {
			background: $site-pink;
			color: white;
			font-size: 20px;
			height: 3rem;
			width: 100%;
			&:hover {
				background-color: $site-pink-hover;
			}
		}
		.indicates-required {
			display: none;
		}
	}
}

@media (min-width: $desktop) {
	.rsvp {
		&.fp-section {
			padding: initial !important;
		}
		.fp-tableCell {
			background: none;
			padding-top: 0;
		}
		.right-bar {
			background: -webkit-linear-gradient(right, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.4) 90%, rgba(255,255,255,0) 100%);
			background: -o-linear-gradient(right, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.4) 90%, rgba(255,255,255,0) 100%);
			background: linear-gradient(to left, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.4) 90%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			height: 100vh;
			right: 0;
			padding: 0 5rem;
			position: absolute;
			top: 0;
			width: 35%;
			h5 {
				font-family: 'Muli', serif;
				font-size: 20px;
				font-weight: 600;
			}
			p {
				font-family: 'Muli', serif;
			}
		}
		#mc_embed_signup {
			// margin-right: 5rem;
			padding: 1rem 3.5rem;
			width: 28rem;
			form {
				height: 100%;
				margin-bottom: 2rem;
				input,
				select {
					margin-bottom: 0;
				}
				.clear {
					width: 100%;
				}
				.button {
					color: white;
					margin-top: 1rem;
					width: 100%;
				}
			}
			#mc_embed_signup_scroll {
				align-items: center;
				display: flex;
				flex-direction: column;
				height: 100%;
				justify-content: center;
				padding-bottom: 5rem;
			}
			.mc-field-group {
				width: 100%;
			}
		}
	}
}
