/** Venue **/
.venue {
	background-image: url('../img/casa-real.jpg');
	background-position: center;
	background-size: cover;
	position: relative;
}

.venue .fp-tableCell {
	vertical-align: unset;
}

h2 {
	// border-left: 5rem solid pink;
	color: #ff9b20;
	font-family: 'Merienda One', cursive;
	font-size: 70px;
	letter-spacing: 1px;
	// padding-left: 1rem;
	text-align: center;
	// text-shadow: 3px 2px 6px #1b1717;
}

.left-bar {
	background: rgba(255,255,255,0.85);
	height: 100vh;
	left: 0;
	padding: 2rem;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	h5 {
		font-family: 'Muli', serif;
		font-size: 20px;
		font-weight: 600;
	}
	p {
		font-family: 'Muli', serif;
	}
}

.venue-right {
	float: right;
	padding-right: 10rem;
}

.venue-address {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
	margin-left: 5rem;
	margin-top: 1rem;
	padding: 1rem;
}

.venue .overlay {
	height: 100%;
	width: 100%;
}

@media (min-width: $desktop) {
	.venue {
		background-image: url('../img/casa-real.jpg');
		background-position: center;
		background-size: cover;
		position: relative;
	}

	.venue .fp-tableCell {
		vertical-align: unset;
	}

	h2 {
		// border-left: 5rem solid pink;
		color: #ff9b20;
		font-family: 'Merienda One', cursive;
		font-size: 70px;
		letter-spacing: 1px;
		// padding-left: 1rem;
		text-align: left;
		// text-shadow: 3px 2px 6px #1b1717;
	}

	.left-bar {
		// background: rgba(255, 255, 255, 0.8); /* FF3.6-15 */
	  background: -webkit-linear-gradient(left, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.4) 90%, rgba(255,255,255,0) 100%);
	  background: -o-linear-gradient(left, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.4) 90%, rgba(255,255,255,0) 100%);
	  background: linear-gradient(to right, rgba(255,255,255,0.9) 30%, rgba(255,255,255,0.7) 70%, rgba(255,255,255,0.4) 90%, rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		height: 100vh;
		left: 0;
		padding: 5rem;
		position: absolute;
		text-align: left;
		top: 0;
		width: 35%;
		h5 {
			font-family: 'Muli', serif;
			font-size: 20px;
			font-weight: 600;
		}
		p {
			font-family: 'Muli', serif;
		}
	}

	.venue-right {
		float: right;
		padding-right: 10rem;
	}

	.venue-address {
		background-color: rgba(0, 0, 0, 0.5);
		color: white;
		font-family: 'Fira Sans', sans-serif;
		font-size: 16px;
		margin-left: 5rem;
		margin-top: 1rem;
		padding: 1rem;
	}

	.venue .overlay {
		height: 100%;
		width: 100%;
	}
}
