@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Merienda+One|Muli|Roboto');

@import './_variables/index.scss';

body {
	background-color: white;
}

* {
	box-sizing: border-box;
}

h1 {
	color: #8a9cff;
	font-family: 'Fira Sans', sans-serif;
	font-size: 80px;
	font-weight: 700;
	letter-spacing: 15px;
	margin-bottom: 0;
	text-align: center;
	text-decoration: underline;
}

h2 {
	color: #8a9cff;
	font-family: 'Fira Sans', sans-serif;
	font-size: 60px;
	font-weight: 700;
	letter-spacing: 15px;
	margin-bottom: 0;
	text-align: center;
}

h3 {
	color: #8a9cff;
	font-family: 'Fira Sans', sans-serif;
	font-size: 40px;
	letter-spacing: 10px;
	margin-top: 1rem;
	text-align: center;
}

.arrow {
	display: block;
	margin: auto;
}

.lol {
	box-sizing: border-box;
	border-bottom: 3px solid #8a9cff;
	border-right: 5px solid #8a9cff;
	display: block;
	margin: auto;
	max-width: 20rem;
}

// scroll dot color
#fp-nav ul li a span {
	background: pink !important;
}

@import './_shared.scss';
@import './_header.scss';
@import './_hero.scss';
@import './_venue.scss';
@import './_story.scss';
@import './_party.scss';
@import './_rsvp.scss';
@import './_registry.scss';
@import './_last.scss';
